html{
    height: 100%;
}
*{
    font-family: 'Merriweather','Times New Roman', serif;
}
body{
    width: 960px;
    margin: 20px auto;
    background-image: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
header{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    border: 1px solid black;
    background-image:url(../images/michael_pupin_header.jpg);
    background-size: cover;
    height: 200px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-align:end;
}
h2{
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-bottom: 10px;
}
/* Aside menu */
aside {
    float: left;
    width: 360px;
    box-sizing: border-box;
    border: 1px solid black;
    padding:  10px 0px 18px 0px;
    font-size: 20px;
    background-color: rgba(147, 147, 147, 0.8) ;
    border-radius: 5px;
    color: white;
}
nav ul li {
    background-color: rgba(128, 128, 128, 0.742);
    padding: 25px;
    list-style: none;
    margin: 0px; 
    height: auto;  
}
nav ul {
    padding: 0px
} 
.active, nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    border-radius: 5px;
}
.active, nav ul li a:hover{
    color: black;
}
nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
/* Main */
main{
    width: 600px;
    float: right;
    text-align: justify;
    border: 1px solid black;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;  
    padding-bottom: 10px; 
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 5px;
}
#p2, #p5{
    font-weight: bold;
}
#fig1 {
    float: right;
}
#fig2 {   
    width: 100%; 
}
#fig3 {
    text-align: center;
}
#fig3 figcaption {
    text-align: center;
}
/* Footer */
footer{
    position: relative;
    background-color: rgba(128, 128, 128, 0.74);
    font-size: 15px;
    border: 1px solid black;
    padding: 0px 8px 0px 0px;
    clear: both;
    color: white;
}
/* Go to top button */
#button{
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.345);
    float: right;
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 5px;
}
#button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    color: rgb(118, 0, 0);
}
/* Table */
#table1{
    display: table;
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
}
#table1 th {
    background-color: rgba(0, 0, 0, 0.362);
    border-collapse: collapse;
    padding: 5px;
}
#table1 td {
    border: 1px solid rgba(255, 255, 255, 0.74);;
    padding: 5px;
}
tr:nth-child(2n){
    background-color: rgb(205, 205, 205);
}
tr:nth-child(2n+1){
    background-color: rgb(148, 148, 148);
}